#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75rem;
    padding: 5.625rem;
}

#container h1{
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 3.75rem;
}

#container h2{
    text-align: center;
}

#container p #instrucao{
    text-align: center;
    margin: 1.25rem 0 3.75rem 0;
}

#container img{
    max-width: 37.5rem;
    margin-top: 2.1875rem;
}

#container hr{
    background-color: #e5e5e5;
    height: 0.0625rem;
    width: 100%;
    margin: 6.25rem 0 2.1875rem 0;
}

#container form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form p#aviso{
    font-weight: 500;
    margin-bottom: 6.25rem;
}

form p#aviso strong{
    font-weight: 600;
}

form div.column-input{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    margin-bottom: 4.375rem;
}

form label{
    font-weight: 500;
}

.column-input input[type="text"],
input[type="number"],
input[type="submit"],
select,
textarea,
button{
    /*Padroniza o escrito dos inputs*/
    border: 1px solid;
    padding: 0.625rem;
    height: 2.1875rem;
}

form .row{
    /*Alinha horizontalmente*/
    display: flex;
    width: 100%;
    gap: 3.75rem;
}

.column-input.input-text{
    /*Faz o input usar 50% do container dele*/
    width: 50%;
    margin-top: 1.875rem;
}

.column-input{
    margin-top: 1.875rem;
}

.column-input.select{
    /*Faz o input usar 30% do container dele*/
    width: 30%;
}

.column-input.select select{
    /*Ajusta o espaçamento, pois o padrão bagunça somente o select*/
    padding: 0 0.3125rem;
}

form .row-selectors {
    /*Alinha os radio buttons com seus respectivos labels*/
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

form .row-selectors input[type="radio"] {
    /*Aumenta o tamanho dos radio buttons*/
    width: 1.5625rem;
    height: 1.5625rem;
}

form .row-selectors label{
    /*Coloca os labels dos radio buttons com a fonta padrão novamente*/
    font-weight: 400;
}

form textarea{
    min-height: 6.25rem;
    max-height: 12.5rem;
    min-width: 50%;
    max-width: 100%;
}

form button{
    padding: 3px 2.5rem;
}